.promotion-wrapper {
    width: 100%;
    background-color: rgb(229, 250, 191);
}

.promotion-coupon {
    background: rgb(27, 25, 40);
    border-radius: 8px;
    margin: 16px auto 0px;
    padding: 20px 16px 16px;
    width: 100%;
    max-width: 1240px;
}

.promotion-flash {

    & img {
        border-radius: 8px;
    }
}

.promotion {

    &-content {


        &__head {
            position: relative;
            background: rgb(64, 45, 161);
            border-radius: 100px;
            padding: 4px 50px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            max-width: 45%;

            & p {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 32px;
                text-align: center;
                color: rgb(255, 255, 255);
                text-transform: uppercase;
            }

            & img {
                position: absolute;
                left: 9px;
                top: -10px;
                max-width: 40px;
            }
        }

        &__desc {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: rgb(255, 255, 255);
            text-align: center;
            margin: 12px 0px 24px;
        }
    }

    &-coupon {
        &__list {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 5px;
        }

        &__item {
            position: relative;
            background: rgb(255, 255, 255);
            border-radius: 8px;
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;

            &::before {
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: rgb(27, 25, 40);
                position: absolute;
                bottom: 50px;
                left: -5px;
            }

            &::after {
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: rgb(27, 25, 40);
                position: absolute;
                bottom: 50px;
                right: -5px;
            }
        }

        &__top {
            display: flex;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            padding: 4px 8px;
            width: 100%;
            background: linear-gradient(92.22deg, rgba(133, 110, 250, 0.15) -2.05%, rgba(110, 124, 250, 0.15) 60.14%, rgba(110, 132, 250, 0.15) 95.75%);
        }

        &__content {
            border-bottom: 1px dashed rgb(235, 235, 240);
            min-height: 131px;
            padding: 4px 8px 0;

            &__discount {
                display: flex;
                align-items: center;

                & p {
                    margin: 0px;
                    color: rgb(56, 56, 61);
                    overflow: hidden;
                    font-size: 1.8rem;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }

                & img {
                    display: block;
                    background: transparent;
                    outline: none;
                    border: none;
                    padding: 5px;
                    margin: 0px 0px 0px 6px;
                    cursor: pointer;
                    line-height: 0px;
                }
            }

            &__date {
                font-size: 1.2rem;
                color: rgb(128, 128, 137);
                margin-top: 4px;
                margin-bottom: 2px;
                line-height: 16px;
            }

            & span {
                color: rgb(128, 128, 137);
                font-size: 1.2rem;
                line-height: 16px;
                margin-top: 4px;
            }

            &__status {
                display: flex;
                align-items: center;
                margin-top: 35px;

                & p {
                    position: relative;
                    height: 6px;
                    border-radius: 8px;
                    background: rgb(236, 233, 253);
                    width: 90px;
                }

                & span {
                    font-size: 1rem;
                    color: rgb(128, 128, 137);
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    padding-left: 4px;
                }
            }
        }

        &__btn {
            padding: 0 8px 8px 8px;

            & button {
                font-weight: 500;
                letter-spacing: 0px;
                cursor: pointer;
                text-align: center;
                border-radius: 4px;
                outline: none;
                width: 100%;
                color: rgb(255, 255, 255);
                background-color: rgb(111, 85, 237);
                border: 1px solid transparent;
                font-size: 1.4rem;
                line-height: 20px;
                padding: 8px 12px;
            }

            & .outline {
                background: transparent;
                font-size: 13px;
                color: rgb(196, 196, 207);
                border: 1px solid rgb(196, 196, 207);
            }
        }

    }
}

.promotion-flash {
    margin-top: 20px;
}

.promotion-product {
    border-radius: 8px;
    margin-top: 20px;
    padding-bottom: 40px;


    &__list {
        display: flex;
        border-radius: 8px;
        overflow-x: auto;

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #F5F5F5;
            border-radius: 10px;
        }

        &::-webkit-scrollbar {
            width: 10px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-image: -webkit-gradient(linear,
                    left bottom,
                    left top,
                    color-stop(0.44, rgb(122, 153, 217)),
                    color-stop(0.72, rgb(73, 125, 189)),
                    color-stop(0.86, rgb(28, 58, 148)));
        }
    }

    &__link {
        padding: 16px 8px;
        max-width: 216px;
        flex-shrink: 0;
        background-color: white;

        & img {
            object-fit: contain;
            border-radius: 4px;
            text-align: center;
        }

        &__name {
            margin: 8px 0px;
            text-align: center;
            font-size: 1.3rem;
            line-height: 20px;
            height: 40px;
            color: rgb(56, 56, 61);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &__price {
            display: flex;

            & span:first-child {
                color: rgb(255, 66, 78);
                font-size: 1.6rem;
                line-height: 24px;
                font-weight: 500;
            }

            & span:last-child {
                padding: 0px 2px;
                line-height: 16px;
                font-size: 1.2rem;
                font-weight: 500;
                margin-left: 4px;
                color: rgb(255, 66, 78);
                margin-top: 5px;
            }
        }

        &__progress {
            width: 100%;
            height: 15px;
            background-color: rgb(255, 170, 175);
            border-radius: 7px;
            margin-top: 8px;
            line-height: 15px;
            height: 15px;
            font-size: 11px;
            color: rgb(255, 255, 255);
            text-align: center;
        }
    }
}

.promotion-banner {
    width: 100%;
    display: flex;
    justify-content: center;

    & img {
        border-radius: 8px;
    }
}


.promotion-top {
    width: 100%;
    display: flex;
    justify-content: center;

    & img {
        border-radius: 8px;
    }
}



.promotion-center {
    width: 100%;
    display: flex;
    justify-content: center;

    & img {
        border-radius: 8px;
    }

}


.promotion-bottom {
    width: 100%;
    display: flex;
    justify-content: center;

    & img {
        border-radius: 8px;
    }
}